.modal-content {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center all items horizontally */
  justify-content: center; /* Center all items vertically */
  gap: 20px; /* Add some space between elements */
  padding: 20px;
  /* background-color: #f9f9f9; */
}

.modal-image {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  width: 30%;
}

.modal-title {
  font-size: 24px;
  font-weight: bold;
}

.modal-details {
  text-align: left; /* Align text to the left for better readability */
  width: 100%; /* Ensure it takes full width */
  padding: 10px;
  font-size: 16px;
  line-height: 1.6; /* Improve readability */
  color: #555;
}

.modal-details ul {
  margin-left: 20px; /* Indent the bullet points */
}

.modal-details li {
  margin-bottom: 10px; /* Space between list items */
}

.modal-details .bold {
  font-weight: bold;
}
