.contact-page {
  position: relative;
  background-image: url("/home/hmeressa/Documents/Bty-trading/bty/src/Assets/bbandw.jpg");
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  padding-bottom: 60px;
}

.form-container {
  max-width: 600px;
  margin: 50px auto;
  padding: 30px;
  padding-top: 0;
  background-color: rgb(96, 94, 100);
  border-radius: 5px;
  opacity: 0.9;
  width: 50%;
}

.form-input {
  height: 40px;
}

.form-item {
  margin-bottom: 16px;
}

.submit-button {
  width: 100%;
  padding: 10px;
  background-color: rgb(7, 51, 243);
  color: rgb(249, 248, 252);
  border-radius: 4px;
  font-size: 20px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.submit-button:hover {
  background-color: green;
}

.human-icon {
  text-align: center;
  color: white;
}

.contact-info {
  padding: 20px;
  border-radius: 8px;
}

.contact-info-heading {
  font-size: 24px;
  font-weight: bold;
  color: #1890ff;
  margin-bottom: 15px;
}

.contact-info p {
  font-size: 16px;
  margin-bottom: 10px;
  font-weight: bold;
}

.contact-info p svg {
  margin-right: 10px;
  color: #1890ff;
}

.ant-input,
.ant-input-textarea {
  color: rgb(3, 0, 0) !important;
}

.ant-input::placeholder,
.ant-input-textarea::placeholder {
  color: rgba(10, 10, 10, 0.7) !important;
  font-weight: bold;
}

/* Responsive Design */

@media (max-width: 768px) {
  .form-container {
    width: 90%; /* Adjust width for smaller screens */
    margin-top: 20px;
  }

  .contact-info {
    margin-bottom: 20px;
  }

  .contact-info-heading {
    font-size: 20px;
  }
}

@media (max-width: 480px) {
  .contact-info {
    padding: 15px;
  }

  .contact-info-heading {
    font-size: 18px;
  }

  .contact-info p {
    font-size: 14px;
  }

  .submit-button {
    font-size: 18px;
  }

  .human-icon {
    font-size: 30px;
  }

  .form-container {
    width: 100%; /* Full width on very small screens */
  }
}
@media (max-width: 576px) {
  .contact-page {
    padding-bottom: 120px; /* Add more space at the bottom for small screens */
  }
}
